<nav class="navbar navbar-expand-lg  color">
  <a class="navbar-brand" href="/">
  <img src="../assets/Home/anahuac.png" class="logo">
  </a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Test de Personalidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Posters y Pendones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Areas de comida</a>
      </li>
    </ul>
</nav>
