<div class="container-fluid">
<header class="hcom">
  <div class="row">
    <div class="col-md-12 text-center pt-5">
      <p>
          Bienvenido a los servicios de atención preuniversitaria
        </p>
  </div>
</div>

</header>
<section class="inicio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Hemos creado estos servicios para que puedas ubicar con mayor facilidad los servicios
                  con los que cuenta el campus
                </h2>
              </div>
        </div>
    </div>
</section>
<section class="row test">
  <div class="container">
    <div class="row">
  <div class="col-md-6">
    <img src="../../assets/Home/circle1.png" class="img-fluid">
  </div>
  <div class="col-md-6">
    <h2>Test de personalidad</h2>
    <p>
      Si quieres conocer mas rasgos de tu personalidad accede a esta pagina, podemos decirte que tipo de persona eres, y que ambitos
      tienes mas desarrollados.
    </p>
    <a href="#" class="btn btn-default btn-lg">Hazlo ahora</a>
  </div>
</div>
</div>
</section>
<section class="poster">
  <div class="container">
    <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <h2>Posters y pendones</h2>
      <p>
        Quieres saber donde se encuentran? haz click y averigualo.
      </p>
      <a href="#" class="btn btn-default btn-lg">Encuéntralos</a>
    </div>
    <div class="col-md-6">
        <img src="../../assets/Home/poster.png" class="img-fluid">
    </div>
  </div>
  </div>
</section>
<section class="row areas">
    <div class="container">
        <div class="row align-items-center">
      <div class="col-md-6">
        <img src="../../assets/Home/comida.png" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Áreas de comida</h2>
        <p>
          ¿Tienes hambre y no encuentras donde estan las tiendas? Aqui podrás consultar las franquicias de comida rapida con las que contamos.
        </p>
        <a href="#" class="btn btn-default btn-lg">Hazlo ahora</a>
      </div>
    </div>
    </div>
</section>
</div>